/* Color Theme Swatches in Hex */
$light-green: #A8E6CF;
$primary-green: #67c7a4;
$lime-green: #DCEDC1;
$light-orange: #FFD3B6;
$light-pink: #FFAAA5;
$hot-pink: #FF8B94;

/* Color Theme Swatches in RGBA */
$Copy-of-Pastel-Rainbow-1-rgba: rgba(168,230,207, 1);
$Copy-of-Pastel-Rainbow-2-rgba: rgba(220,237,193, 1);
$Copy-of-Pastel-Rainbow-3-rgba: rgba(255,211,182, 1);
$Copy-of-Pastel-Rainbow-4-rgba: rgba(255,170,165, 1);
$Copy-of-Pastel-Rainbow-5-rgba: rgba(255,139,148, 1);

/* Color Theme Swatches in HSLA */
$Copy-of-Pastel-Rainbow-1-hsla: hsla(157, 55, 78, 1);
$Copy-of-Pastel-Rainbow-2-hsla: hsla(83, 55, 84, 1);
$Copy-of-Pastel-Rainbow-3-hsla: hsla(23, 100, 85, 1);
$Copy-of-Pastel-Rainbow-4-hsla: hsla(3, 100, 82, 1);
$Copy-of-Pastel-Rainbow-5-hsla: hsla(355, 100, 77, 1);