.cart {
  flex: 1 1 28%;
  height: 88%;
  display: flex;
  flex-direction: column;
  padding: 1%;
//   border:1px solid #ccc;
  border-radius: 5px;

  &__header {
    height: 10%;
    display: flex;
  }

  &__body {
    height: 70%;
	display: flex;
	overflow: hidden;
  }

  &__footer {
    height: 20%;
    display: flex;
	flex-direction: column;
	justify-content:stretch;
	padding: 5px;
	
  }
}
.checkout{
	// background: skyblue;	
	display: flex;
	flex: 1 1 auto;
}
.price {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
//   background: #cccddd;
  &__sub-total,
  &__discount,
  &__tax {
    font-size: 0.9em;
	display: flex;
	flex: 1 1 auto;
	height: 10% !important;

    & span {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-start;
    }

    & span + span {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}
