@import './colors';

.dashboard{
	display: flex;

	&__header-chart{
		flex: 1 1 auto;
		display: flex;

		& > div{
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-items: center;
				align-items: center;
				

			& span{
				flex: 1 1 auto;
				justify-items: center;
				align-items: center;
				display: flex;

				&:first-child{
					background: $lime-green;
					padding: 30px 40px;
					color: cadetblue;
					border-radius: 10px 10px 0 0;
				}
				background: cadetblue;
				border-radius:   0 0 10px 10px;

			}

		}
	}
}