@import "./colors";

.navbar {
  flex: 1 1 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
  //   background: $lime-green;

  &-brand {
    font-weight: bold;
    color: #ccc;
    flex: 0 1 200px;
  }

  &-search {
    flex: 1 1 auto;
    display: flex;
	position: relative;
	margin:5px;
	width: 97.5%;

	
    & > label {
      flex: 0 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      position: absolute;
      height: 100%;
      color: #ccc;
    }
    input[type="text"] {
      flex: 1 1 auto;
      border: 1px solid #ccc;
      padding: 10px 2.5% 10px 6%;
      width: 95%;
      border-radius: 5px;
      outline: none;
      transition: border-color 0.1s ease-in;

      &:focus {
        border-color: $light-orange;
      }
    }
  }

  &-profile {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
    height: 100%;

    & .image {
      width: 38px;
      height: 38px;
      border-radius: 30px;
      overflow: hidden;
      margin-right: 5px;
      border: 1px solid #ccc;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
