@import "./colors";

.navbar {
  flex: 1 1 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  border-bottom:.5px solid $dark-limegreen;
  background: $lime-green;

  &-brand {
    font-weight: bold;
    color: white;
    flex: 0 1 200px;
  }

  &-search {
    flex: 2 1 auto;
    display: flex;
    position: relative;
    & > label {
      flex: 0 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      position: absolute;
	  height: 100%;
	  color:#ccc;
    }
    input[type="text"] {
      flex: 1 1 auto;
      border:.5px solid $lime-green;
      padding: 10px 2.5% 10px 6%;
	  width: 95%;
	  border-radius: 5px;
	  outline: none;
	  transition: border-color .1s ease-in;

	  &:focus{
		border-color: $light-orange;
	  }
    }
  }

  &-profile {
    flex: 1 1 auto;
    display: flex;

    justify-content: flex-end;
    padding-right: 10px;
  }
}
