@import './colors';
.sidebar{
	flex: 0 1 20%;
	min-height: 100%;
	height: auto;
	display: block;

	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			display: flex;
			overflow: hidden;
			height: auto;
			& span:first-child{
				flex: 0 1 30px !important;
			}

			& a{
				flex: 0 1 30px !important;

				text-decoration: none;
				color: cadetblue;
				padding: 15px 10px;
			}
			
			&:hover{
				background: $lime-green;
			}
		}
	}
}